:root{
    --bg: #f5f5f5;
    --line: #005994;
    --primary: #3b82f6;
    --warning: #f59e0b;
    --danger: #ef4444;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background: var(--bg);
    min-height: 100vh;
    padding: 10px;
    -webkit-text-size-adjust: 100%;
}

/* Mobile-first container */
.container {
    width: 100%;
    background: white;
    padding: 30px;
    max-width: 860px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ddd;

    /* iPhone safe area */
    padding-left: max(16px, env(safe-area-inset-left));
    padding-right: max(16px, env(safe-area-inset-right));
    padding-top: max(16px, env(safe-area-inset-top));
    padding-bottom: max(16px, env(safe-area-inset-bottom));
}

h1 {
    color: #005994;
    font-size: 24px,
    margin: 8px 0 10px;
    text-align: center; 
}

p { 
    line-height: 1.6;
    margin: 0 0 12px;
    color: #333;
    font-size: 16px;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Card */
.card {
    background-color: var(--bg);
    border-radius: 16px;
    padding: 16px;
}

/* Counter */
.counter {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
    margin: 4px 0 4px;
    font-size: 14px;
}

.progress-wrapper {
    width: 100%;
    height: 14px;
    background: rgba(255,255,255,255,0.88);
    border-radius: 999px;
    overflow: hidden;
    border: 1px solid black;
    margin:10px 0 14px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background-color: var(--primary);
    transition: width 0.05s linear;
}

#progressBar.warning { background-color: var(--warning); }
#progressBar.danger { background-color: var(--danger); }

.scenario-image {
    width: 100%;
    height: auto;
    max-height: 65vh;
    object-fit: contain;
    border-radius: 14px;
    display: block;
    margin: 12px 0 14px;
    border: 1px solid #ddd;
}

/* Buttons: mobile-first stack */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button {
    width: 100%;
    padding: 14px 25px;
    border-radius: 14px;
    background: #005994;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;

    /* remove iOS tap highlight */
    -webkit-tap-highlight-color: transparent;
}

button:hover {
    transform: translateY(1px)
}

button:active {
    background: var(--bg);
}

/* Tablet Styles */
@media (min-width: 600px) {
    body {
        padding: 20px;
    }
    .container {
        padding: 30px;
        margin: 50px auto;
    }
    button {
        width: auto;
    }
}

/* Desktop */ 
@media (min-width: 900px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}